# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Operating System ---
.DS_Store
Thumbs.db

env/

# --- Data Folders (The heavy stuff) ---
# Ignore the raw experiment data folders
old_data/
data/

# Ignore processed data pickles
processed_data/

# --- Specific Large Files (Just in case they are outside folders) ---
*.db
*.csv
*.pkl
*.zip

# --- Generated Figures (Optional: keep if you want to show results, ignore if they are too many) ---
old_figs/
figs/
# figs_analysis/
# figs_content_age/
# figs_quality_time/
# figs_rich_get_richer/

# --- Logs ---
*.log
*.pyc
__pycache__/
